PORT=3000

PILOT_CITY_NAME="San Lorenzo"
PILOT_LAT=-25.3400
PILOT_LON=-57.5088

RISK_THRESHOLD_AMARILLO=34
RISK_THRESHOLD_ROJO=40

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_NAME=alerta_calor_asma
WHATSAPP_TEMPLATE_LANG=es

ADMIN_KEY=cambiame
